.header {

	background: #fff;

	padding: 20px;

	border-bottom:3px solid #dadada;

	margin:0 0 20px;



}





#lph_subtitle {

	color:#fd3724;

}



.wrapper {

	background:#fff;

	padding:20px;

}







table {

	margin:10px 0;

	text-align: center;

}



table.lp_table {

	width:100%;

	background:#fff;

}





table tr.head {

	font-weight: bold;

	font-size:16px;



}



table tr.head {

	background: #ddd;

}



table tr.head td {

	outilne:1px solid #fafafa;

}



table tr td {

	font-size:14px;

	padding:7px;



}



table.lp_table tr td {

	outline:1px solid #ddd;

}

/*all submit buttons to be blue muhahahaha*/



input[type="submit"].button:not(input[name="filter"]),

input[type="submit"].button:hover:not(input[name="filter"])

 {

	background: #2980b9;

	color:#fff;

	-webkit-box-shadow:none;

	box-shadow: none;

}



input[type="submit"].button:active:not(input[name="filter"]) {

	background: #2c3e50;

}



.lp_sp_widget {



}



.lp_sp_widget img {max-width:100%!important;}


.lp_sp_widget tr {
	max-width:100%;
	width:100%;
}

.lp_sp_widget td {

	max-width:100%;

	text-align: center;

	vertical-align: middle;

	width:50%;
}

.lp_sp_widget td:not([colspan="2"]) {
	max-width:130px;
	width:130px;
}



.lp_sp_widget .row {

	width:100%;

	clear:both;

	margin:0 0 15px;



}



.lp_sp_widget .row:after,

.lp_sp_widget .row:before {

	content:'';

	clear:both;

	display:block;

}



.lp_sp_widget .one {

	width:30%;

}



.lp_sp_widget a {

	display: block;

}



.lp_sp_widget .one {

	float:left;

	margin-right:5%;

}



.lp_sp_widget .row .one:nth-of-type(3),

.lp_sp_widget .row .half:nth-of-type(2) {

	margin-right:0;

}







.lp_sp_widget .half {

	float:left;

	margin-right:4%;

	width:48%;

}



.lp_sp_widget .row .half:nth-of-type(2n) {

	margin-right:0;

}



.lp_sp_widget .full {

	width:100%;

	clear:both;

	float:none;

}



.lp_sp_widget .one:nth-of-type(3),

.lp_sp_widget .half:nth-of-type(2) {

	float:right;

}



#lp_team_form,

#lp_single_form {



}



#lp_team_form .has-error,

#lp_single_form .has-error {

	position: relative;

}





#lp_team_form .form-control-feedback,

#lp_single_form .form-control-feedback {

	float:right;

	margin-top:11px;

	position:relative;

}



#lp_team_form .tooltip,

#lp_single_form .tooltip {

	display: block;

	background: #000;

	color: #fff;

	z-index: 99999;

	position:absolute;

	max-width:50%;

	top:0;

	right:0;

	margin:0;

	padding:5px;

	border-radius:3px;

	font-size:13px;

}



#lp_team_form .fa-check,

#lp_single_form .fa-check {

	color:green;

}



#lp_team_form .fa-close,

#lp_single_form .fa-close {

	color:red;

}



#lp_team_form input[type="text"],

#lp_single_form input[type="text"],

#lp_team_form select,

#lp_single_form select{

	padding:5px;

	float:left;

	border:1px solid rgba(86,126,255,0.5);

	-webkit-box-shadow: inset 1px 1px 4px 2px rgba(86,126,255,0.1);

	box-shadow: inset 1px 1px 4px 2px rgba(86,126,255,0.1);

}



#lp_team_form td.has-error > input,

#lp_team_form td.has-error > select,

#lp_single_form td.has-error > input,

#lp_single_form td.has-error > select {

	border:1px solid #fe6456;



	-webkit-box-shadow: inset 1px 1px 4px 2px rgba(254,100,86,0.3);

	box-shadow: inset 1px 1px 4px 2px rgba(254,100,86,0.3);

}



#lp_team_form input:focus,

#lp_single_form input:focus  {

	box-shadow:none;

}



#lp_team_form .help-block,

#lp_single_form .help-block {

	vertical-align: middle;

	margin-left:5px;

	display:block;

}





#jucatori .lp_table tr {

	cursor:pointer;

	position: relative;

}



#jucatori .lp_table tr:not(.head):hover {

	background:rgba(254,199,195,0.5);

}



#jucatori .lp_tooltip {

	display:table-cell;

	position:absolute;

	width:100px;

	background:#fff;

	border:1px solid #ddd;

}





#jucatori .lp_player_delete {

	position: relative;

}



#jucatori .lp_player_delete:after {

	/*position:absolute;

	left:0;

	top:0;

	width:100px;

	height:50px;

	background:green;

	color:#fff;

	content:"Sterge";*/

}